.intro-header {
	margin: 2em 0 3em 0;

  .page-title {
    font-size: 5.0rem;
    font-weight: 400;
    margin: 0;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro {
    font-size: 1.6rem;
    margin: 0;
  }
}

